*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position:relative;
    height:70px;
    width:70px;
    border-radius: 10px;
    background-color: #212532;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:1s;
    transition-delay: 0.8s;
}
.container.active{
    width:200px;
    height:200px;
    transition-delay:0s;
}
.container span{
    position:absolute;
    width:7px;
    height:7px;
    background: white;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    transform:translate(calc(12px*var(--x)),calc(12px*var(--y)));
    transition:transform 1s,width 1s,height 1s,background 1s;
    transition-delay:calc(0.1s*var(--i));
}
.container.active span{
    transform:translate(calc(60px*var(--x)),calc(60px*var(--y)));
    height:45px;
    background: #333849;
    width:45px;
}
.container span ion-icon{
    transition:0.5s;
    font-size: 0em;
}
.container.active span ion-icon{
    font-size:1.35em;
    color:#fff;
}
.container.active span:hover ion-icon{
     color:#2dfc52;
     filter:drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 8px #2dfc52) drop-shadow(0 0 15px #2dfc52);
}